[init]
	defaultBranch = main 
[user]
	name = ffoerster
	email = florian.foerster@uni-leipzig.de
[github]
	user = ffoerster
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
	