encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1cl8mg4krjvyuk3syzk8jsqk095gnx7tnuxlrup3nsm9nhwtehezssu0nv0"

[onepassword]
    mode = "account"

[edit]
    command = "code"
    args = ["--wait"]

# Run a script to install password manager CLI before reading source state
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/home/.install-password-manager.sh"
