encryption = "age"
[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1cl8mg4krjvyuk3syzk8jsqk095gnx7tnuxlrup3nsm9nhwtehezssu0nv0"

[onepassword]
    mode = "account"

[edit]
    command = "code"
    args = ["--wait"]
